.hoz {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .option {
    float: left;
  }
  
  .option a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  li.dropdn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdn {
    display: inline;
    position: relative;
  }

  li.drop {
    display: inline-block;
  }
  
  .dropop {
    display: none;
    position: relative;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropop a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .drop:hover .dropop {
    display: block;
  }