main {
    width: 100%;
    padding: 5px;
    margin: 10px;
}

p {
    font-size: large;
    padding: 15px;
}

h1 {
    padding-left: 15px;
    padding-top: 45px;
}

h2 {
    padding-left: 15px;
}

p.letter::first-letter {
    color: #757575;
    font-size: 250%;
}

.para {
    text-indent: 50px;
}

#footer{
    bottom: 15px;
    width: 100%;
    position: static;
    line-height: 1px;
}

@media screen and (max-width: 640px) {
    #home{
        text-align: center;
        font-size: 200%;
    }

    #welcstate{
        text-align: center;
        font-size: 150%;
    }

    #footer{
        text-align: center;
        bottom: 15px;
        position: static;
        width: 100%;
    }

    .phome{
        padding: 10px;
        text-align: center;
        font-size: 125%;
        line-height: 1.5;
    }
}