main {
    width: 100%;
    padding: 5px;
    margin: 10px;
}

p {
    font-size: large;
}

p.letter::first-letter {
    color: #757575;
    font-size: 250%;
}

.para {
    text-indent: 50px;
}