@font-face {
    font-family: PageNameFont;
    src: url("Raleway-SemiBold.ttf");
}


main {
    width: 100%;
    padding: 5px;
    margin: 10px;
}

p {
    font-size: large;
    padding: 15px;
}

h1 {
    padding-left: 15px;
    padding-top: 45px;
    font-family: PageNameFont;
}

h2 {
    padding-left: 15px;
}

h3{
    padding-left: 15px;
}

p.letter::first-letter {
    color: #757575;
    font-size: 250%;
}

.para {
    text-indent: 50px;
}

#footer{
    bottom: 15px;
    width: 100%;
    position: static;
    line-height: 1px;
    height: auto;
}

#footer, p{
    border: 0px;
    padding-top: 10px;
    width: fit-content;
    height: fit-content;
    
}

#e{
    height: 10px;
    color: rgb(31, 170, 216);
    align-content: center;
}

#email{
    width: 30px;
    height: 30px;
    height: auto;
    align-items: center;
    transition: all .2s ease-in-out;
}

#email:hover{
    transform:scale(1.5);
}

#tagh1{
    size: 100;
    padding-top: 85px;
}

.project{
    width: 49%;
    padding-left: 35px;
    padding: 15px;
}

#profpic{
    width: 25%;
    height: 25%;
}
@media screen and (max-width: 700px) {
    #footer{
        bottom: 15px;
        width: 100%;
        line-height: 1px;
        position: static;
        text-align: center;
        align-items: center;
        height: auto;
    }

    #tagh1{
        padding-top: 50px;
        text-align: center;
        size: 200%;
    }

    .phome{
        padding: 10px;
        font-size: 125%;
        line-height: 1.5;
        text-align: center;
    }

    #welcstate{
        text-align: center;
    }

    #aboutmepg{
        text-align: center;
    }

    .project{
        width: 100%;
        padding-left: 35px;
        padding-right: 35px;
        padding: 15px;
    }

    #profpic{
        width: 75%;
        height: 75%;
    }
}

@media screen and (max-width: 500px) {
    .project{
        width: 100%;
        padding-left: 35px;
        padding-right: 35px;
        padding: 15px;
    }

    #profpic{
        width: 75%;
        height: 75%;
    }
}

@media print {
    *{
        background: transparent !important;
        color:black !important;
        box-shadow: none !important;
        text-shadow: none !important;
        font-family:serif;
        padding: none;
    }

    #tagh1{
        border: none;
        padding: none;
        margin-top: -175px;
    }

    #wrap, #resumebut {
        display: none;
    }

    #tagh1, #wrap, header, h1, #footer{
        border: none;
        padding: none;
        padding-top: 1px;
        border-top: none;
    }

    nav{
        font-size: medium;
    }
}

